/* 文字颜色 */

.b8ff {
    color: #1b8fff;
}

.red {
    color: red;
}

.FAF9 {
    color: #00faf9 !important;
}

.CBD {
    color: #01cbd7 !important;
}

.f-col8 {
    color: #888888;
}

.black {
    color: black;
}

.blue {
    color: #0960bd;
}

.blue-a {
    color: #15abfb;
}

.blue-b {
    color: #0960bd;
}

.orange {
    color: orange;
}

.green {
    color: #13ce66;
}

.yellow {
    color: #f17746;
}

.grey {
    color: #8b8e94;
}

.grey-deep {
    color: #8b8e94;
}

.black {
    color: #333;
}

.white {
    color: #fff;
}

.purple {
    color: #4b3887;
}

.B4DAF {
    color: #9b4daf;
}

.cdcdcd {
    color: #cdcdcd;
}

.FE9319 {
    color: #fe9319;
}

.C83 {
    color: #797c83;
}

.purple-lt {
    color: #647beb;
}

.D8BEF {
    color: #0960bd;
}

.DADBDB {
    color: #dadbdb;
}

.B66 {
    color: #585b66;
}
.ff {
    color: #db08f7;
}

/* 背景颜色 */

.bg01 {
    background: #016171;
}

.bg177 {
    background-color: #01a7a7 !important;
}
.bgf5f5f5 {
    background-color: #f5f5f5;
}

.bg-grey {
    background-color: #f8f8f9;
}

.bg-fff {
    background-color: #fff;
}

.bg-yellow {
    background-color: #ffc333;
}

.bg-green {
    background-color: #49d292;
}

.bg-red {
    background-color: #e94546;
}

.bg-blue {
    background-color: #409eff !important;
}

.bg-D9 {
    background-color: #d9d9d9;
}

.bg-E3 {
    background-color: #e3edee;
}

.bg-03 {
    background-color: #030a1c;
}

.bg-F7 {
    background-color: #f7f7f7;
}

.gbEEF1F6 {
    background-color: #eef1f6;
}

.bg023C52 {
    background-color: #023c52;
}
